@model HomeAssignment.Models.Contact
<div>
	@{
		var bd = Model.BirthDate == DateTime.MinValue ? "" : Model.BirthDate.ToString("D");
	}
	<script>
		var editing = false
		function ToggleEditingMode() {
			const saveBtn = document.getElementById("save-btn")
			const contactFields = document.querySelectorAll("input")
			contactFields.forEach((field) => {
				if (editing) {
					saveBtn.setAttribute("hidden", "hidden")
					field.setAttribute("readonly", "true");
					field.setAttribute("border", "none")
					field.setAttribute("background-color", "white")
				}
				else {
					saveBtn.removeAttribute("hidden");
					field.removeAttribute("readonly");		
					field.setAttribute("border", "auto")
					field.setAttribute("background-color", "lightgoldenrodyellow")
				}
			})
			editing = !editing;
		}
	</script>
	<h2>@Model.FirstName @Model.LastName</h2>
	<div id="edit-contact-fields">
		<div>
			<label for="id">Id</label>
			<input id="id" name="id" type="number" value="@Model.Id" asp-for=Id readonly />
		</div>
		<div>
			<label for="first-name">First Name</label>
			<input id="first-name" type="text" value="@Model.FirstName" asp-for=FirstName readonly/>
		</div>
		<div>
			<label for="last-name">Last Name</label>
			<input id="last-name" type="text" value="@Model.LastName" asp-for=LastName readonly />
		</div>
		<div>
			<label for="birth-date">Birth Date</label>
			<input id="birth-date" type="date" value="@Model.BirthDate" asp-for=BirthDate readonly />
		</div>
		<div>
			<label for="city">City</label>
			<input id="city" type="text" value="@Model.City" asp-for=City readonly/>
		</div>
		<div>
			<label for="street">Street</label>
			<input id="street" type="text" value="@Model.Street" asp-for=Street readonly />
		</div>
		<div>
			<label for="house-number">House Number</label>
			<input id="house-number" type="text" value="@Model.HouseNumber"
			asp-for=HouseNumber readonly />
		</div>
		<div>
			<label for="phone-at-home">Phone at Home</label>
			<input id="phone-at-home" type="text" value="@Model.PhoneAtHome"
			asp-for=PhoneAtHome
			readonly />
		</div>
		<div>
			<label for="phone">Phone</label>
			<input id="phone" type="text" value="@Model.Phone" asp-for=Phone
			readonly />
		</div>
		<button id="edit-contact-btn" class="btn btn-warning" onclick="ToggleEditingMode()">Edit ✏</button>
		<button id="save-btn" type="submit" class="btn btn-success" hidden>Save</button>
	</div>
</div>
