@model HomeAssignment.Models.Contact
<div>
	@{
		var bd = Model.BirthDate == DateTime.MinValue ? "" : Model.BirthDate.ToString("D");
	}
	<script>
		var editing = false
		function ToggleEditingMode() {
			const contactFields = document.querySelectorAll("input")
			contactFields.forEach((field) => {
				if (editing)
				{
					field.removeAttribute("readonly");
					field.setAttribute("border", "none")
					field.setAttribute("background-color", "white")
				}
				else
				{
					field.setAttribute("readonly", "true");
					field.setAttribute("border", "auto")
					field.setAttribute("background-color", "lightgoldenrodyellow")
				}
			})
			editing = !editing;
		}
	</script>
	<h2>@Model.FirstName @Model.LastName</h2>
	<div id="edit-contact-fields">
		<label for="id">Id</label>
		<input id="id" name="id" type="number" value="@Model.Id" readonly />
		<label for="FirstName">First Name</label>
		<input id="FirstName" type="text" value="@Model.FirstName" readonly />
		<input type="text" value="@Model.LastName" readonly />
		<input type="date" value="@Model.BirthDate" readonly />
		<input type="text" value="@Model.City" readonly />
		<input type="text" value="@Model.Street" readonly />
		<input type="text" value="@Model.HouseNumber" readonly />
		<input type="text" value="@Model.PhoneAtHome" readonly />
		<input type="text" value="@Model.Phone" readonly />
	</div>

	<button id="edit-contact-btn" class="btn btn-warning" onclick="ToggleEditingMode()">Edit ✏</button>
</div>
