@model HomeAssignment.Models.Contact

<div>
    <h2>@Model.FirstName @Model.LastName</h2>
    @{
        var bd = Model.BirthDate == DateTime.MinValue ? "" : Model.BirthDate.ToString("D");
    }
    @if(!ViewBag.Editing)
    {
                <div>
                    <p>Id: @Model.Id</p>
                    <p>First name: @Model.FirstName</p>
                    <p>Last name: @Model.LastName</p>
                    <p>Birth date: @bd</p>
                    <p>City: @Model.City</p>
                    <p>Street: @Model.Street</p>
                    <p>House number: @Model.HouseNumber</p>
                    <p>Phone at home: @Model.PhoneAtHome</p>
                    <p>Phone: @Model.Phone</p>
                </div>
    }   
    else
    {
        <div>
            <input type="number" value="@Model.Id"/>
            <input type="text" value="@Model.FirstName" />
            <input type="text" value="@Model.LastName"/>
            <input type="date" value="@Model.LastName" />
            <p>City: @Model.City</p>
            <p>Street: @Model.Street</p>
            <p>House number: @Model.HouseNumber</p>
            <p>Phone at home: @Model.PhoneAtHome</p>
            <p>Phone: @Model.Phone</p>
        </div>
    }
    <button id="edit-contact-btn" class="btn btn-warning" asp-action="SetEditMode">Edit ✏</button>
</div>
