@model List<HomeAssignment.Models.Contact>;

<h3>Contacts Page</h3>
<table border="1" class="table table-bordered table-responsive">
    <thead>
        <tr class="btn-primary">
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth Date</th>
            <th>City</th>
            <th>Street</th>
            <th>House number</th>
            <th>Phone at Home</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var contact in Model)
            {
                var bd = contact.BirthDate == DateTime.MinValue ? "" : contact.BirthDate.ToString("D");

                            <tr>
                                <td>@contact.Id</td>
                                <td>@contact.FirstName</td>
                                <td>@contact.LastName</td>
                                <td>@bd</td>
                                <td>@contact.City</td>
                                <td>@contact.Street</td>
                                <td>@contact.HouseNumber</td>
                                <td>@contact.PhoneAtHome</td>
                                <td>@contact.Phone</td>
                            </tr>
            }
        }
    </tbody>
</table>  